body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    margin: 0%;
}
.hero{
    background-position: 100%;
    background-image: url(volkswagen-voyage-sport-5.jpg);
    background-size: 100;
    background-attachment:unset;
    
    background-size: cover;
    border-top: 1px;
    border-color: black;
    border-bottom: 20px;
    float: center;


   
}


.hero-content{
    text-align: center;
    color: rgb(9, 0, 129);
    margin-top: 150px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px black;
}
.hero-content p{
    text-transform: uppercase;
    font-size: 26px;
    text-align: left;
    text-shadow: 3px 3px 2px black;
    background-color: rgba(0 , 0, 0 , 0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid blue;

}
.hero nav ul{
    text-align: right;
    margin: 20px 50px 0px 0px;
}

.hero nav li{
    border: 1px solid black;
    display: inline-block;
    list-style: none;
}
.hero nav a{
    
    background: rgba(0 , 0, 0 , 0.3);
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}


.hero nav a:hover{
    background: rgba(0 , 0, 0 , 0.5);

}
.main{
    width: 80%;
    margin: auto;
}
.contentsection{
    background-color: aliceblue;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
    display: inline-block;
    
    
}
.card{
    width: 33%;
    float: inline-end;
    border:2px solid blue ;
    box-sizing: border-box;
}
.card img{
    width: 100%;
}
.footer{
    text-align: center;
    color: black;
    background-color: darkslategrey;
    padding-top: 30px;
    
}
.contentsection2{
    background-image: url(../ProjetoCSS/voyage.png);
    padding: 15px;
    margin-top: 10px;
}